# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Editors
*~
.*.swp
.#*
\#*#

# Folders
_obj
_test

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

*.exe
*.test
*.prof
*.out
coverage.txt
cover.out

# 代码编辑器隐藏文件
.idea

#编译后文件
bin/

#本地配置文件忽略
internal/app/admin/etc/admin.yaml
internal/app/web/etc/web.yaml
cmd/gormgen/config.yaml
cmd/mysqlsync/config.yaml
cmd/sqldump/config.yaml

#存储
storage/upload